<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>979016409710-g19b9qmeof58apra8r8s8ghd4ja83g3q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.979016409710-g19b9qmeof58apra8r8s8ghd4ja83g3q</string>
	<key>API_KEY</key>
	<string>AIzaSyCXw3SnQTuTbejdIIryK7QX9r3jfhJeHus</string>
	<key>GCM_SENDER_ID</key>
	<string>979016409710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodDeliveryApp</string>
	<key>PROJECT_ID</key>
	<string>food-delivery-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>food-delivery-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979016409710:ios:8da0451dac88678c5cfc7f</string>
</dict>
</plist>